<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Show Employee Page</title>
</head>
<body>
	<a href = "/showLogin" class="btn btn-primary btn-sm mb-3"> Login </a>
	<table border="1" class="table table-striped table-responsive-md">
		<thead>
			<tr>
				<th>Employee First Name</th>
				<th>Employee Last Name</th>
				<th>Employee Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee : ${listEmployees}">
				<td th:text="${employee.fName}"></td>
				<td th:text="${employee.lName}"></td>
				<td th:text="${employee.gender}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>