@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
.body
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}
body
{
	min-height: 100vh;
	background: #ffffff;
}
.navigation
{
	top: 0;
	left: 0;
	position: fixed;
	width: 100px;
	height: 100%;
	background: #3e0748;
	transition: width 0.5s;
	overflow: hidden;
}
.navigation:hover,
.navigation.active
{
	width: 300px;
}
.navigation ul
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.navigation ul li
{
	position: relative;
	width: 100%;
	list-style: none;
}
.navigation ul li1
{
	position: relative;
	width: 100%;
	list-style: none;
}
.navigation ol
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.navigation ol li
{
	position: relative;
	width: 100%;
	list-style: none;
}
.navigation ol li a
{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #fff;
}
.navigation ol li a .icon
{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: left;
}
.navigation ol li a .icon .fa
{
	font-size: 24px;
}

.navigation ol li a .title
{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}
.navigation ul li:hover
{
	background: #800080;
	
}
.navigation ul li1 a
{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #fff;
}
.navigation ul li1 a .icon
{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: left;
}
.navigation ul li1 a .icon .fa
{
	font-size: 24px;
}

.navigation ul li1 a .title
{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}
.navigation ul li a
{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #fff;
}
.navigation ul li a .icon
{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: left;
}
.navigation ul li a .icon .fa
{
	font-size: 24px;
}

.navigation ul li a .title
{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}
.toggle:hover
{
	background: #ea1d63;

}

.toggle:hover:before
{
	content: '\f00d';
}
@media (max-width: 767px)
{
	.navigation
	{
		left: -60px;
	}
	.navigation.active
	{
		left: 0px;
		width: 100%;
	}
}
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 70%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}





