<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Manager</title>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">


<style>

/* Style the tab */
.navigation ul li:hover
{
	background: linear-gradient(180deg, rgba(18, 92, 236, 0.92) 0%, rgba(118, 0, 236, 0.43) 100%);
	border-radius: 11px;
	
}
.navigation
{
	top: 0;
	left: 0;
	position: fixed;
	width: 100px;
	height: 100%;
	background: linear-gradient(180deg, rgba(18, 92, 236, 0.92) 0%, rgba(118, 0, 236, 0.43) 100%);
	transition: width 0.5s;
	overflow: hidden;
}
#customers {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#customers td, #customers th {
	border: 1px solid #ebebe0;
	padding: 8px;
}

#customers tr:nth-child(even) {
	background-color: #ebebe0;
}

#customers tr:hover {
	background-color: #ebebe0;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0F77D8;
  color: white;
}

.tab {
	float: left;
	border: 1px;
	width: 100%;
	height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
	display: block;
	background-color: inherit;
	color: #4b0082;
	padding: 17px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 16px;
}

.tab1 button {
	display: block;
	background-color: inherit;
	color: #4b0082;
	padding: 17px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 30px;
}

.tab a {
	display: block;
	background-color: inherit;
	color: #8a2be2;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: lightgray;
}

/* Create an active/current "tab button" class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	float: right;
	padding: 0px 12px;
	/*border: 1px solid #ccc; */
	width: 80%;
	border-left: none;
	height: 300px;
}
</style>
</head>
<body>
	<div class="navigation">

		<ol>

			<br>

		</ol>

		<ul>
			<br>

			<li><a href="/manager_home"> <span class="icon"><i
						class="fa fa-bars" aria-hidden="true"></i></span> <span class="title"><b><font
							size="5">DashBoard</font></b></span>
			</a></li>
			<br>
			<!-- <li1> <a href="#"> <span class="icon"><i
					class="fa fa-search" aria-hidden="true"></i></span> <input type="text"
				id="myInput" onkeyup="myFunction()" placeholder="Search..."
				title="Type Project Name">
			</a> </li1> -->
			<br>
			<li><a href="/manager_addnewuser"> <span class="icon"><i
						class="fa fa-file" aria-hidden="true"></i></span> <span class="title">Add
						New User</span>
			</a></li>
	
			<li><a href="/manager_createproject"> <span class="icon"><i
						class="fa fa-file-text-o" aria-hidden="true"></i></span> <span
					class="title">Create Project</span>
			</a></li>
			<li><a href="/manager_viewdefectreport"> <span class="icon"><i
						class="fa fa-check-square-o" aria-hidden="true"></i></span> <span
					class="title">View Defect Report</span>
			</a></li>
			<li><a href="/manager_projectmembers"> <span class="icon"><i
						class="fa fa-users" aria-hidden="true"></i></i></span> <span class="title">View
						Project Members</span>
			</a></li>
			<!-- <li>
				<a href="userDetails.html">
					 <span class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
					<span class="title">User Details</span>
				</a>
			</li> -->
			<li><a href="/"> <span class="icon"><i
						class="fa fa-sign-out" aria-hidden="true"></i></span> <span class="title">Log
						Out</span>
			</a></li>

			<br>
			<br>
			<br>
			<br>
			<br>
			<li1> <a href="/manager_profile"> <span class="icon"><i
					class="fa fa-user-circle-o w3-xxxlarge" aria-hidden="true"></i></span> <span
				class="title"><b><font size="5">Manager</font></b></span>
			</a> </li1>
		</ul>


	</div>

	<div class="col-sm-9">
		<h4 style="text-align: right;">
			<small th:text="${session.fName}">&nbsp;&nbsp;</small>
		</h4>
		<hr>
		<div id="Summary" class="tabcontent">
			<!----------------------------------------------------------VIEW PROJECT------------------------------------------------------------->
			<h2>View Defect Report</h2>
			<br>
			<div class="container">
				<table id='customers'>
					<thead>
						<tr>
							<th style="text-align: center;">Defect Id</th>
							<th style="text-align: center;">Defect Name</th>
							<th style="text-align: center;">Defect Type</th>
							<th style="text-align: center;">Defect Raised Date</th>
							<th style = "text-align:center">Employee id Raised Defect</th>
							<th style="text-align: center;">Defect Description</th>
							<th style="text-align: center;">Defect Project Id</th>
							<th style="text-align: center;">Defect Priority</th>
							<th style="text-align: center;">Defect Status</th>
							
						</tr>
					</thead>
					<tbody>
							<tr th:each="doctor : ${listDoctors}">
								<td style="text-align: center;" th:text="${doctor.defectId}"></td>
								<td style="text-align: center;" th:text="${doctor.defectName}"></td>
								<td style = "text-align:center" th:text="${doctor.defectType}"></td>
								<td style = "text-align:center" th:text="${doctor.defectDateRaised}"></td>
								<td style = "text-align:center" th:text="${doctor.defectEmpIdRaised}"></td>
								<td style = "text-align:center" th:text="${doctor.defectDesc}"></td>
								<td style = "text-align:center" th:text="${doctor.defectProjectId}"></td>
								<td style="text-align: center;" th:text="${doctor.defectPriority}"></td>
								<td style="text-align: center;" th:text="${doctor.defectStatus}"></td>
							</tr>
					</tbody>
				</table>
			</div>
			<br>
			<br>
		</div>

		<!---------------------------------------------------------------REPORT DEFECT--------------------------------------------------------->

		<br>
		<br>
	</div>
	<div class="toggle" onclick="toggleMenu()"></div>
	<script type="text/javascript">
		function toggleMenu()
		{
			let navigation = document.querySelector('.navigation');
			let.toggle=document.querySelector('.toggle');
			navigation.classList.toggle('active');
			toggle.classList.toggle('active')
		}
	</script>
	<script>
		function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

		function myFunction() 
		{
			var input, filter, ul, li, a, i, txtValue;
    		input = document.getElementById("myInput");
    		filter = input.value.toUpperCase();
    		ul = document.getElementById("myUL");
    		li = ul.getElementsByTagName("li");
    		for (i = 0; i < li.length; i++) 
    		{
        		a = li[i].getElementsByTagName("a")[0];
        		txtValue = a.textContent || a.innerText;
        		if (txtValue.toUpperCase().indexOf(filter) > -1) 
        		{
            		li[i].style.display = "";
       			} else 
       			{
            		li[i].style.display = "none";
        		}
    		}
		}
</script>
</body>
</html>